@using SchedularCalendar.Helpers;
@model IEnumerable<SchedularCalendar.Models.Event>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    PagerHelper pager = new PagerHelper();

    int pageNo = 0;

    if (ViewBag.PagerHelper != null)
    {
        pager = ViewBag.PagerHelper;
        pageNo = pager.CurrentPage;
    }
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create a New Event</a>
</p>

<partial name="_PaginationPartial" model="@pager" />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Days)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Days)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<partial name="_PaginationPartial" model="@pager" />

@if (ViewBag.totalDaysOffThisYear != null)
{
    <h4> Total Days Off This Year Including Bank Holidays: @ViewBag.totalDaysOffThisYear Days</h4>
}
